---
import type { ArtworkEntry } from '../lib/artworks';
import ArtworkCard from './ArtworkCard.astro';

interface Props {
	artworks: ArtworkEntry[];
	showImageFileTimestamp?: boolean;
}

const { artworks, showImageFileTimestamp = false } = Astro.props;
---

<div class="artwork-grid">
	{
		artworks.map((artwork) => (
			<ArtworkCard
				artwork={artwork}
				showImageFileTimestamp={showImageFileTimestamp}
			/>
		))
	}
</div>
